<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="cn.com.mapper.ProfessionalMapper">

	<!-- 插入用户数据 -->
	<!-- Integer insert() -->
	<insert id="insert"
		parameterType="cn.com.Entity.Professional"
		useGeneratedKeys="true"
		keyProperty="id">
		INSERT INTO professional (
			professionalname
		) VALUES (
			#{professionalname}
		)
	</insert>
	
	<select id="getDataes" 
	resultType="cn.com.Entity.Professional">
	SELECT * FROM professional
	</select>
	<delete id="delete">
	delete from  professional
	</delete>
</mapper>








