@charset "UTF-8";
#paper1message{
	padding:50px 300px;
	width:1300px;
}
#paper1message select{
	padding: 5px;
	margin-bottom: 15px;
	text-align: center;
}
#paper{
	font-weight: bold;
}
#paper_title{
	margin-top: 20px;
}
#paper2{
	width: 1300px;
	font-size: 0;
	
}
#paper{
	font-size: 0;
	width: 1138px;
	text-align: center;
}
#paper2{
	width: 1155px;
	overflow: auto;
	height: 550px;
}
#paper_no{
	display:inline-block;
	width:50px;
	border: 1px solid #ffffff; 
	padding: 10px;
	font-size:17px;
	background:#f2f2f2 ;
}
#test_name{
	width: 700px;
	border: 1px solid #ffffff; 
	padding: 10px;
	font-size:17px;
	display:inline-block;
	background:#f2f2f2 ;
}
#paper_name{
	width: 100px;
	border: 1px solid #ffffff; 
	padding: 10px;
	font-size:17px;
	display:inline-block;
	background:#f2f2f2 ;
	
}
#paper_handle{
	width: 200px;
	border: 1px solid #ffffff; 
	padding: 10px;
	font-size:17px;
	display:inline-block;
	background:#f2f2f2 ;
	text-align: center;
}
#sele{
	width: 818px;
	text-align: center;
}
